.img-produto{
    width: 100%;
}

.botaoSalvar{
    background: rgb(252,193,18);
    background: radial-gradient(circle, rgb(208,56,56) 0%, rgb(138, 24, 16) 100%);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

.botaoNovo {
    background: rgb(252,193,18);
    background: radial-gradient(circle, rgb(211,199,199) 0%, rgb(160,154,154) 100%);
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}
.desabilitado {
    background-color: #e7e3e3;
}
.imgTabela {
    width: 36px;
}
#imgEditar {
    width: 36px;
}